<h1> Python for Data Analysis - Pandas - Introduction</h1>

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (0.21.0)
Requirement already satisfied: python-dateutil>=2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas) (2.6.1)
Requirement already satisfied: pytz>=2011k in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas) (2018.3)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas) (1.13.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from python-dateutil>=2->pandas) (1.11.0)
tensorflow 1.3.0 requires tensorflow-tensorboard<0.2.0,>=0.1.0, which is not installed.

In [2]:
import numpy as np
import pandas as pd

<h2> Pandas Series</h2>

<h3> A Panda Series can hold just about any data type; arrays, strings, numbers, dictionaries, lists, data functions etc.</h3>

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [5]:
arr

array([10, 20, 30])

In [6]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)                   # Create a Series with data = my_data
                                            # No index was specified in the Series

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index = labels)   # Creating a Series with list data = my_data
                                            # Specifying index as 'labels'

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels)                   # Creating the Series with my_data and labels

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr)                              # Pass in numpy array (arr) into Series

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(arr,labels)                      # Pass in numpy array (arr) and labels into Series

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(d)                               # Pass dictionary (d) in the Series
                                           # Note: The output will list keys as indexes and values as data

a    10
b    20
c    30
dtype: int64

In [15]:
d

{'a': 10, 'b': 20, 'c': 30}

In [18]:
pd.Series(data=[sum,print,len])              # Series can hold data functions too
                                             # Note: Numpy can't do this

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

<h2> Grabbing Information from a Pandas Series</h2>

In [24]:
ser1 = pd.Series([1,2,3,4],['USA', 'Germany', 'USSR', 'Japan'])       # Building a test Series, called ser1 with data [1,2,3,4] and indexes ['USA', 'Germany', 'USSR', 'Japan']

In [25]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])       # Building a test Series, called ser2 with data [1,2,5,4] and indexes ['USA','Germany','Italy','Japan']

In [27]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [28]:
ser1['USA']                                 # Grabbing data by referencing the index.
                                            # In this case, the index for string 'USA' references value 1

1

In [37]:
ser2['Japan']                               # Grabbing data for index Japan

4

In [46]:
ser3 = pd.Series(labels)

In [47]:
ser3                                        # Note dtype is object, which refers to the values as strings

0    a
1    b
2    c
dtype: object

In [32]:
ser3[1]

'b'

In [35]:
ser3[2]

'c'

In [36]:
ser3[0]

'a'

<h4> Basic Operations</h4>

In [38]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [39]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [41]:
ser1 + ser2                     # Adding Series
                                # If there are matches in both series, a value will be returned
                                # If there IS NOT a match in both series, then NaN is returned
                                # For example, Italy and USSR are not in both Series, so Nan is returned for those values

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64